<!--
  <div class="text-layout">
    <h1>{{ nombre | uppercase }}</h1>
    <h1>{{ valor | number }}</h1>
    <h1>{{ obj | json }}</h1>
  </div>
  
  <button pButton
          (click)="mostrarDatos()"    
          icon="pi pi-bell"
          iconPos="right"
          class="p-button-help"
          label="Cambiar nombre">  
  </button>
  
  <br>
  
  <p-card [header]="nombre | titlecase"
          subheader="SubCabecera">
    Contenido
  </p-card>
-->

<app-menu></app-menu>
<router-outlet></router-outlet>